@page
@model C_C_Test.Pages.UploadFileModel
@{
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                Query Status
            </th>
            <th>
                No. Successful Writes
            </th>
        </tr>
    </thead>
    <tbody> 
    <tr>
            <td>@Model.DBStatusView.QueryStatus</td>
            <td>@Model.DBStatusView.SuccessfulWrites</td> 
    </tbody>
</table>